body{
    margin: 0 auto;
    color: #FFF;
    min-height: 100vh;
    background-color: #131928;
}

p{
    margin: 10px
}
.table {
    background-color: antiquewhite;
}

.card {
    background-color: #131928;
    border-style: groove;
    border-color: antiquewhite;
}

.card-img {
    border-color: antiquewhite;
}